.barra-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(96, 91, 91);
}
 .barra-nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}